<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <h1>Mini Message Board</h1>
    <section>
      <ul>
        <% for (let i = 0; i < messages.length; i++) { %>
        <li class="message">
          <%= messages[i].user %>
          <br>
          <%= messages[i].text %>
          <br>
          <%= messages[i].added %>
        </li>
        <% } %>
      </ul>
    </section>
    <a href="/new">
      <button>Add new message</button>
    </a>
  </body>
</html>
